<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ce51f2a-b0e8-4953-b0e3-06fe224ccc60" Alias="2025-11-06 10:08 - Christian" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Christian</Path>
    <Trashed Parent="24551d5d-b584-4c04-bbf1-aa5705d928e7">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T10:08:45</CreateDate>
    <NodeName Default="2025-11-06 10:08 - Christian" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[chrille.a.83@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Christian]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Risk Management]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700123456]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>