<?xml version="1.0" encoding="utf-8"?>
<Content Key="d01042ba-49e1-473f-bdab-ed3578283ad1" Alias="2025-11-06 10:03 - ca" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ca</Path>
    <Trashed Parent="24551d5d-b584-4c04-bbf1-aa5705d928e7">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T10:03:22</CreateDate>
    <NodeName Default="2025-11-06 10:03 - ca" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[chrille.a.83@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[ca]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Risk Management]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700123456]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>