<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bcb7a07-e379-4780-a5bd-b7c17c7d3a85" Alias="2025-11-04 13:30 - Christian" Level="2">
  <Info>
    <Parent Key="24551d5d-b584-4c04-bbf1-aa5705d928e7">Form Submissions</Parent>
    <Path>/FormSubmissions/Christian</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T13:30:13</CreateDate>
    <NodeName Default="2025-11-04 13:30 - Christian" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[christian_a_83@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Christian]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Risk Management]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700123456]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>