<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a828293-d43a-43b7-9db9-bf88e3fc426e" Alias="2025-11-04 13:16 - Christian" Level="2">
  <Info>
    <Parent Key="24551d5d-b584-4c04-bbf1-aa5705d928e7">Form Submissions</Parent>
    <Path>/FormSubmissions/Christian</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T13:16:57</CreateDate>
    <NodeName Default="2025-11-04 13:16 - Christian" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[christian_a_83@hotmail..com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Christian]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Investment Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700123456]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>