<?xml version="1.0" encoding="utf-8"?>
<Content Key="674fb8b5-9963-46ad-8456-da2822c47928" Alias="2025-11-04 13:39 - Christian" Level="2">
  <Info>
    <Parent Key="24551d5d-b584-4c04-bbf1-aa5705d928e7">Form Submissions</Parent>
    <Path>/FormSubmissions/Christian</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-04T13:39:03</CreateDate>
    <NodeName Default="2025-11-04 13:39 - Christian" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionFormEmail>
      <Value><![CDATA[chrille.a.83@gmail.com]]></Value>
    </questionFormEmail>
    <questionFormName>
      <Value><![CDATA[Christian]]></Value>
    </questionFormName>
    <questionFormQuestion>
      <Value><![CDATA[öööööööööööö]]></Value>
    </questionFormQuestion>
  </Properties>
</Content>