<?xml version="1.0" encoding="utf-8"?>
<Content Key="72206f9a-fdcf-47c5-8cfe-7adb2cf8beb1" Alias="Services" Level="2">
  <Info>
    <Parent Key="83e305fb-4e32-4f4a-80a7-8366da4d7bd6">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T09:07:54</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4627c648-ea46-474b-96d9-d97ede318586">ServicePage</Template>
  </Info>
  <Properties>
    <serviceLabel>
      <Value><![CDATA[]]></Value>
    </serviceLabel>
  </Properties>
</Content>