<?xml version="1.0" encoding="utf-8"?>
<Content Key="72206f9a-fdcf-47c5-8cfe-7adb2cf8beb1" Alias="Services" Level="2">
  <Info>
    <Parent Key="83e305fb-4e32-4f4a-80a7-8366da4d7bd6">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T09:07:54</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4627c648-ea46-474b-96d9-d97ede318586">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3d70396b-26bb-404a-b510-226f8bd39646",
      "key": "b130a289-49ca-410f-8038-e1c284e6a9ae",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "dcf42f16-1cfe-4d59-b38a-7cd044f578a3",
      "key": "eb6e56c8-b2cb-487a-8326-b48e2f329894",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b130a289-49ca-410f-8038-e1c284e6a9ae",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b130a289-49ca-410f-8038-e1c284e6a9ae",
        "contentUdi": null,
        "settingsKey": "eb6e56c8-b2cb-487a-8326-b48e2f329894",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>