<?xml version="1.0" encoding="utf-8"?>
<Content Key="93a13cd3-d6ff-4d5a-8d46-1424488a0562" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-28T10:31:26</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <email>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "6a3764db-7fb6-43a1-98a6-481707044e64",
    "mediaKey": "8bdcd332-ddca-4396-bc27-fcd23e5eb6a6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c54bc12a-e134-48b7-ac97-0cf2004cd88e",
      "key": "6e7f4bd7-73b6-4f53-8fef-aaf3f4fcf0ab",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Facebook"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "622aea27-2669-49d7-b047-935f77736274",
              "mediaKey": "0d7b6434-b5a7-4723-8545-371b42da741f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c54bc12a-e134-48b7-ac97-0cf2004cd88e",
      "key": "1bae19f9-1828-4290-831b-2d8b1e9eed37",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "LinkedIn"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e8072017-30d9-4b34-ae5d-32a09dcefb8e",
              "mediaKey": "27d54547-b3a6-411c-a773-fcb4ef49ce7c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c54bc12a-e134-48b7-ac97-0cf2004cd88e",
      "key": "1d9d20e1-508c-4f0a-a133-a7aec271c953",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Twitter"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7a7814e9-e65b-4220-83fd-34108052ffe7",
              "mediaKey": "fcfabf62-8d78-476c-8e64-00a3057f5109",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6e7f4bd7-73b6-4f53-8fef-aaf3f4fcf0ab",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1bae19f9-1828-4290-831b-2d8b1e9eed37",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1d9d20e1-508c-4f0a-a133-a7aec271c953",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6e7f4bd7-73b6-4f53-8fef-aaf3f4fcf0ab",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1d9d20e1-508c-4f0a-a133-a7aec271c953",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1bae19f9-1828-4290-831b-2d8b1e9eed37",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialLinks>
  </Properties>
</Content>