<?xml version="1.0" encoding="utf-8"?>
<Content Key="93a13cd3-d6ff-4d5a-8d46-1424488a0562" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-28T10:31:26</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <email>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "6a3764db-7fb6-43a1-98a6-481707044e64",
    "mediaKey": "8bdcd332-ddca-4396-bc27-fcd23e5eb6a6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b7724b7b-4ae9-457b-903b-eed9d83d8f9b",
      "key": "c6411322-fbde-4ab0-9cda-0debc3cad907",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Facebook"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        },
        {
          "alias": "platformIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fdb3ba16-d374-4314-bf0d-3e5a073ba0bc",
              "mediaKey": "0d7b6434-b5a7-4723-8545-371b42da741f",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7724b7b-4ae9-457b-903b-eed9d83d8f9b",
      "key": "73cc2d5b-8321-45a1-87ac-518b0d4f1d8f",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Twitter"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        },
        {
          "alias": "platformIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0e3e8051-f242-4e3e-b5aa-578ba90345a1",
              "mediaKey": "fcfabf62-8d78-476c-8e64-00a3057f5109",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7724b7b-4ae9-457b-903b-eed9d83d8f9b",
      "key": "4172009d-c766-46f9-b307-05ba229e95a9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "LinkedIn"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        },
        {
          "alias": "platformIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "19fd11cc-d5e2-4c50-9c10-0955f7a40854",
              "mediaKey": "27d54547-b3a6-411c-a773-fcb4ef49ce7c",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c6411322-fbde-4ab0-9cda-0debc3cad907",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "73cc2d5b-8321-45a1-87ac-518b0d4f1d8f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4172009d-c766-46f9-b307-05ba229e95a9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c6411322-fbde-4ab0-9cda-0debc3cad907",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "73cc2d5b-8321-45a1-87ac-518b0d4f1d8f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4172009d-c766-46f9-b307-05ba229e95a9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialLinks>
  </Properties>
</Content>