@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ContactCallbackSection)Model.Content;
}

<section class="map relative mb-28">
    <img src="@content?.BgImage?.Url()" class="h-full w-full object-cover min-h-[500px]" alt="">

    <div class="min-w-[1170px] mx-auto absolute shadow-lg p-20 -translate-y-110 translate-x-90 bg-light rounded">

        <div class="flex flex-col items-center gap-3 mb-10">
            <p class="text-sm text-secondary font-bold">Request a call back</p>
            <h2 class="text-[2.5rem] text-primary font-bold leading-none pb-10">Let us know about your next project</h2>
            <p class="text-sm text-body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus</p>
        </div>

        <form class="flex flex-col gap-5">
            <div class="flex gap-8">
                <input class="border border-input placeholder-gray-1 text-sm p-[.9rem] flex-1" type="text" placeholder="Name">
                <input class="border border-input placeholder-gray-1 text-sm p-[.9rem] flex-1" type="text" placeholder="Phone">
            </div>
            <div class="flex gap-8">
                <input class="border border-input placeholder-gray-1 text-sm p-[.9rem] flex-1" type="text" placeholder="Email address">
                <select id="" name="" class="border border-input p-[.9rem] text-sm flex-1">
                    <option value="">Financial consulting</option>

                </select>
            </div>

            <div class="flex justify-center">
                <button class="bg-primary text-base font-bold text-secondary-2 py-[.9rem] px-10">Submit</button>
            </div>
        </form>
    </div>
</section>