@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Onatrix_assignment.ViewModels
@{
    var content = (ContentModels.ContactCallbackSection)Model.Content;
    var rootContent = Umbraco.ContentAtRoot();
    var settings = rootContent.OfType<SiteSettings>().FirstOrDefault();

    var formViewModel = new CallbackFormViewModel
    {
        Options = settings?.CallbackRequestOption ?? []
    };

}

<section class="map relative mb-28">
    <img src="@content?.BgImage?.Url()" class="h-full w-full object-cover min-h-[500px]" alt="">

    <div class="min-w-[1170px] mx-auto absolute shadow-lg p-20 -translate-y-110 translate-x-90 bg-light rounded">

        <div class="flex flex-col items-center gap-3 mb-10">
            <p class="text-sm text-secondary font-bold">Request a call back</p>
            <h2 class="text-[2.5rem] text-primary font-bold leading-none pb-10">Let us know about your next project</h2>
            <p class="text-sm text-body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus</p>
        </div>

        <partial name="Partials/Forms/_ContactCallbackForm" model="formViewModel" />

        @if (TempData["FormSuccess"] != null)
        {
            <div class="flex justify-center mt-4">
                <div class="rounded-xl border border-green-200 bg-green-50 px-6 py-3 text-green-800 shadow-sm text-center">
                    <span>@TempData["FormSuccess"]</span>
                </div>
            </div>
        }
        else if (TempData["FormError"] != null)
        {
            <div class="flex justify-center mt-4">
                <div class="rounded-xl border border-red-200 bg-red-50 px-4 py-3 text-red-800 shadow-sm mx-6">
                    <span>@TempData["FormError"]</span>
                </div>
            </div>           
        }
        
    </div>
</section>