
<footer id="footer" class="bg-dark py-[1.2rem]">
    <div class="custom-container">
        <p class="text-primary text-[.875rem]">© Onatrix. All Rights Reserved. Credits to <a href="#" class="text-secondary text-[.875rem]">Themesflat</a></p>
    </div>
</footer>
