<?xml version="1.0" encoding="utf-8"?>
<DataType Key="961015eb-779e-41fe-b6d6-29dae6ba5c8c" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "14ed2f14-60a7-4103-91f3-b9a7dffe6fe4"
    },
    {
      "contentElementTypeKey": "1eab56f9-8720-42e4-8633-767a3551a81e"
    },
    {
      "contentElementTypeKey": "3d70396b-26bb-404a-b510-226f8bd39646",
      "settingsElementTypeKey": "dcf42f16-1cfe-4d59-b38a-7cd044f578a3"
    }
  ]
}]]></Config>
</DataType>